// accent colors
$accent_color_1: #55dde0;
$accent_color_1_medium: #33658a;
$accent_color_1_dark: #2f4858;
$accent_color_2: #f6ae2d;
$accent_color_2_medium: #f26419;
$accent_color_3: #b5ffe1;
$accent_color_3_medium: #93e5ab;
$accent_color_3_dark: #65b891;
// greys, white, black
$grey_light: #f2f2f2;
$grey_medium_light: #e6e6e6;
$grey_medium: #d9d9d9;
$grey_medium_dark: #cccccc;
$grey_dark: #bfbfbf;
$white: #ffffff;
$black: #000000;
// media colors
$media_purple: #b497d6;
$media_blue: #166088;
$media_green: #3ec300;
$media_yellow: #fae316;
$media_red: #b6174b;
