// fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&family=Open+Sans:ital,wght@0,400;1,300&display=swap');
@import './colors';
@import './sizing';
@import './animations';
@import './loader';

#root {
  background-color: $grey-light;

  & > div {
    box-shadow: 0 0 $half $half $grey-medium-light;
    background-color: white;
  }
}

// common classes
.full-viewport {
  min-height: 100vh;
  margin: 0;
}

.half-viewport {
  min-height: 50vh;
  margin: 0;
}

.theme-bright {
  color: $black;
  background-color: $white;
}

.theme-dark {
  color: $white;
  background-color: $black;
}

h1 {
  font-family: 'Lato', 'sans-serif';
  font-weight: 900;
  font-size: $four + $three;

  &.underlined {
    border-bottom: $half solid $black;
  }
  &.padded {
    padding-top: $two;
  }
}

h3 {
  font-family: 'Lato', 'sans-serif';
  font-weight: 400;
  margin-bottom: $half;
}

h6 {
  color: $grey-dark;
}

.bold {
  font-weight: 600;
}

@media (max-width: 992px) {
  .bottom-right-mobile {
    position: absolute;
    bottom: $one;
    right: 0;
    width: auto;
  }
  .top-right-mobile {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
  }
  .hidden-mobile {
    display: none;
  }
}

@media (min-width: 992px) {
  .hidden-desktop {
    display: none;
  }
}

.center-bottom {
  position: absolute;
  bottom: 0;
}

.pulse {
  animation: pulse 1s linear infinite;
}

// dev only
#construction-banner {
  z-index: 99999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #f2cc44;
  text-align: center;
  p {
    font-weight: bold;
    padding: $one;
    margin: 0;
  }
}
