@import './sizing';
@import './colors';

.content-jumbo {
  h2 {
    font-size: $five;
  }
  .main {
    svg {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: center;
    }
  }
  .main-icon {
    position: absolute;
  }
  div:last-child {
    border-top: solid $half $white;
    transition: border-color 0.2s;
    &:hover {
      border-color: $black;
      i {
        animation: none;
      }
    }
  }
}
