body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: 0;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem; 
    z-index: 5;
    position: absolute;
    left: 10vw; 
    top: 50vh; 
}
#b, .b {
    z-index: 10;
    position: absolute;
    transform: translate(-50%, -50%);
}